# Copy to .env and adjust. .env is gitignored.

# Postgres connection string, used by scripts/migrate.sh
# Note: db is the database service from my compose file
DB_URL=postgres://postgres:postgres@db:5432/chirpy?sslmode=disable
PLATFORM=dev
